{% extends 'base.html' %}
<!--
    <html>
    <head>
        <title>Login</title>
         

        {% load static %}
        <link rel="stylesheet"
         href={% static 'account/style.css' %} type="text/css">
    </head>
    <body>
        <div class="container">
            <h1> Hello {{username}}</h1>
            WELCOME! You can login heare!
            <ul>
                {%for number in numbers%}
                <li> {{number}} </li>
                {% endfor %}
            </ul>
            <button class = "btn btn-primary" type = "button" name  = "button" >login</button>
        </div>
    </body>
</html>
-->
{% block head %}
<title>Logout </title>
{% endblock%}
{% block body %}
<div class="container">
    <h1> Logout!</h1>
    <p>you have Logout!</p>
   
  
</div>
{% endblock %}